wmp-injection/bytecode-manager/bytecode-manager
wmp-injection/bytecode-manager/metamac
wmp-injection/bytecode-manager/tsfrecorder
wmp-injection/bytecode-manager/slotrecorder
experiments/*.pyc
experiments/*/*.pyc
experiments/data/
*.o
.idea
./*/.idea
